
*{
  background-color: #202124;
  /* overflow: hidden; */
}
.gglang:hover{
  text-decoration: underline;
}

.search-sec:hover, .search-sec:active{
  background-color: #303134;
  border: none !important;
}